.container {
  max-width: 704px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;

  @media (min-width: ($min-width-tablet)) {
    max-width: 1280px;
    padding-right: 32px;
    padding-left: 32px;
  }

  @media (min-width: ($min-width-desktop)) {
    // max-width: 1280px;
    // padding-right: 48px;
    // padding-left: 48px;
  }
}
