@mixin reset-img {
  display: block;
  width: 100%;
  height: auto;
}

@mixin reset-btn-push {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

@mixin reset-btn-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font: inherit;
  color: inherit;
  cursor: pointer;

}

@mixin reset-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset-p {
  margin: 0;
}

@mixin reset-p {
  margin: 0;
}

@mixin reset-select {
  &__select-item {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    padding-right: 40px;
  }

  &__select-item::-ms-expand {
    display: none;
  }

  &__select-item:focus {
    outline: none;

  }
}
